.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-shadow: #363836;
}
.foto img{
    width: 35vh;
    height: 35vh;
    display: flex;
    border-radius: 50%;  
    border: 1px solid #393B38;
    margin: 15%;
}
.wrapper_text{
    padding-top: -4px;
    padding-left: 50px;
    color: #ddddda;
}
.wrapper_name{
    padding: center;
    color: #ddddda;
}

.blok1{
    background-color: #363836;
    
    display:block;
    height: 100%;
    box-sizing: border-box; 
    padding: 2%;
    font-style: normal solid #FFFFFC;
      
}

.blok2{
   
    display:block;
    height: 100%;
    box-sizing: border-box; 
    padding: 2%;
    font-style: normal solid #FFFFFC;
}

.icon{
    width: 50px;
    height: 50px;
}